/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/public/upload_image
/public/images_bukti_transaksi
/public/verifikasi_artwork
/public/images
/public/image_verifikasi_artwork
composer.lock


